extends layout.pug

block content

  article.portfolio-intro
    h1.main-greeting Greetings, fellow human!
    p This portfolio features the first five projects that I have completed as part of the Team TreeHouse Full Stack JavaScript TechDegree. It also doubles as the end-of-unit project for the Express and Node.js unit. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
  
      each project in projectData.projects
        .cell
          a(href=`projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail - ${project.project_name}`)
            h5= `${project.project_name}`

