<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Special+Elite&family=Caveat&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='../images/profile.png', alt='It\'s my face!' )
        .dev-intro-box
          h5 Matthew Manzano
          p &#127918; Gaming enthusiaist, &#9749; &#127861; tea and coffee nerd and &#128187; JavaScript developer
          a(href='/about') Learn More &rarr;
          br
          p Designed with &#128151; by
          img.thumbnail(src='../images/logo.jpeg', alt='Designed by Matt Codes')

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Matthew Manzano

      block content

  script(src='/js/script.js')